  <div class="form">
    <form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
      <div class="form-row form-group" *ngFor="let inputtextfeildvalue of inputTextFeilds">
        <div class="col-md-5">
          <label [attr.for]="inputtextfeildvalue.key">{{inputtextfeildvalue.label}}</label>
        </div>
        <div class="col-md-7">
          <input class="form-control" [formControlName]="inputtextfeildvalue.key" [id]="inputtextfeildvalue.key"
            [type]="inputtextfeildvalue.type" [value]="inputtextfeildvalue.value">
        </div>
      </div>
      <div class="form-group button-section">
        <!-- <button  class="btn btn-primary" type="button" [disabled]='!registerForm.valid'></button><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true">Register</span></button> -->
        <button class="btn btn-primary" type="submit">
          <span id="addclass" class="spinner-border-sm" role="status" aria-hidden="true"></span>
          Register
        </button>
      </div>
      <div class="form-group link">
        <a href="/">Alredy an user</a>
      </div>
    </form>
  </div>