<div class="form-wrapper">
  <div *ngIf="hasRegiterError" class="alert alert-danger">{{ registerErrorMsg }}</div>
  <form class="form" [formGroup]="registerForm" (ngSubmit)="onRegister()">    
    <div class="form-row form-group">
      <label>First Name</label>
      <input formControlName="firstName" class="form-control" id="firstname" type="text" />
      <small *ngIf="isControlHasError('firstName','required')" class="bubble-alert pos-top">First name is required!</small>
      <small *ngIf="isControlHasError('firstName','minlength')" class="bubble-alert pos-left">Minimum {{ firstName.errors.minlength.requiredLength }} characters required</small>
    </div>

    <div class="form-row form-group">
      <label>Last Name</label>
      <input formControlName="lastName" class="form-control" id="lastname" type="text" />
      <small *ngIf="isControlHasError('lastName','required')" class="alert alert-danger">Last name is required!</small>
      <small *ngIf="isControlHasError('lastName','minlength')" class="alert alert-danger">Minimum
        {{ lastName.errors.minlength.requiredLength }} characters required</small>
    </div>

    <div class="form-row form-group">
      <label>Email</label>
      <input formControlName="email" class="form-control" id="email" type="email" />
      <small *ngIf="isControlHasError('email','required')" class="alert alert-danger">Email is required!</small>
      <small *ngIf="isControlHasError('email','email')" class="alert alert-danger">Invalid email address!</small>
    </div>

    <div class="form-row form-group">
      <label>Password</label>
      <input formControlName="password" class="form-control" id="password" type="password" />
      <small *ngIf="isControlHasError('password','required')" class="alert alert-danger">Password is required!</small>
      <small *ngIf="isControlHasError('password','minlength')" class="alert alert-danger">Minimum
        {{ password.errors.minlength.requiredLength }} length required!</small>
    </div>
    

    <div class="form-group button-section">
      <!-- <button  class="btn btn-primary" type="button" [disabled]='!registerForm.valid'></button><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true">Register</span></button> -->
      <button class="btn btn-primary" type="submit">
        Register
        <div *ngIf="showSubmitSpinner" class="spinner-border spinner-border-sm" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </button>
      <div class="form-group link">
        <a routerLink="/user/login" href="/">Alredy an user</a>
      </div>
    </div>
  </form>
</div>