<div class="login-form-wrapper">
  <div class="section-header">
    <h1>Sign in</h1>
  </div>
  <div *ngIf="isRegsiter" class="alert alert-success">Successfully Register! please sign-in to continue.</div>
  <div *ngIf="hasLoginError" class="alert alert-danger">{{ loginErrorMsg }}</div>
  <form *ngIf="!isLoggedIn" [formGroup]="loginForm" (ngSubmit)="onSignIn()">
    <div class="form-group">
      <label for="email">Email ID</label>
      <input formControlName="email"
        type="text" 
        class="form-control" 
        id="email" 
        placeholder=""/>
      <div *ngIf="email.touched && email.errors" class="alert alert-danger">
        <small *ngIf="email.errors.required">Enter valid email!</small>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input formControlName="password" 
        type="password" 
        class="form-control" 
        id="password" 
        placeholder=""/>
      <div *ngIf="password.touched && password.errors" class="alert alert-danger">
        <small *ngIf="password.errors.required">Enter valid password!</small>
      </div>
    </div>

    <div class="form-group button-section">
      <button class="btn btn-primary" type="submit">Sign-in</button>
    </div>
    <div class="form-group link">
      <a routerLink="user/register">Create Account</a>
    </div>
  </form>

  <div *ngIf="isLoggedIn">
    You are already logged in!
    <p>Please <a href="Javascript:void" (click)="onSignOut()">Sign out</a> to login with another account</p>
  </div>
</div>