/* You can add global styles to this file, and also import other style files */
$button-color: #ea4687;
$button-hover-color:#0069d9;

body,
html {
  height: 100%;
  margin: 0;
  background-image: url("./assets/images/bakground_img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;  
}

.bubble-alert {
  position: absolute;
  
  &.pos-left {
    top: 50%;
    transform: translateY(-50%);
    left: 0;  
    transform: translateX(-100%);
  }

  &.pos-right {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    transform: translateX(100%);
  }

  &.pos-top {
    left: 0%;
    transform: translateX(-50%);
    top: 0;
    transform: translateY(-100%);
  }

}

.shadow {
  -webkit-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.28);
  box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.28);
}